* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial;
}

html, body {
  overflow-x: hidden;
}

header .wrapper {
  padding-top: 20px;
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  header .wrapper {
    width: 100%;
  }
}

.slider_index_1 {
  background: url(/photos/slider_index_1.jpg) center center/cover no-repeat;
  padding: 30px;
}

.slider_index_2 {
  background: url(/photos/slider_index_2.jpg) center center/cover no-repeat;
  padding: 30px;
}

.slider_index_3 {
  background: url(/photos/slider_index_3.jpg) center center/cover no-repeat;
  padding: 30px;
}

.slider_tours_1 {
  background: url(/photos/slider_tours_1.jpg) center center/cover no-repeat;
  padding: 30px;
}

.slider_tours_2 {
  background: url(/photos/slider_tours_2.jpg) center center/cover no-repeat;
  padding: 30px;
}

.slider_tours_3 {
  background: url(/photos/slider_tours_3.jpg) center center/cover no-repeat;
  padding: 30px;
}

.slider_contacts_1 {
  background: url(/photos/slider_contacts_1.jpg) center center/cover no-repeat;
  padding: 30px;
}

.slider_contacts_2 {
  background: url(/photos/slider_contacts_2.jpg) center center/cover no-repeat;
  padding: 30px;
}

.slider_contacts_3 {
  background: url(/photos/slider_contacts_3.jpg) center center/cover no-repeat;
  padding: 30px;
}

header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 750px) {
  header .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

header .logo {
  margin-right: 100px;
}

@media (max-width: 750px) {
  header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 0;
  }
}

@media (max-width: 750px) {
  header .logo a {
    margin-bottom: 20px;
  }
}

@media (max-width: 750px) {
  header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.link-active {
  color: red;
}

.owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.owl-nav {
  display: none;
}

header .picture-spasskaya-tower {
  background: url(/icon/spasskaya-tower.png) center center/contain no-repeat;
  padding: 35px;
  margin: 0 10px;
}

header .picture-MyMoscow {
  -webkit-animation: spasskaya-tower 3s infinite;
  animation: spasskaya-tower 3s infinite;
  animation-direction: alternate-reverse;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  color: #ffdb47;
  line-height: 0.556;
  text-align: center;
}

header a {
  text-decoration: none;
  font-size: 14.5px;
  font-family: 'Roboto', sans-serif;
  color: white;
  line-height: 1.379;
  padding: 0 10px;
}

header .nav a[target='#our-company'] span {
  opacity: 0;
}

header .text {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: white;
  line-height: 15px;
  text-align: center;
  padding: 115px 0;
}

header .text h1 {
  margin-bottom: 16px;
  line-height: 40px;
}

header .text p {
  margin-bottom: 16px;
}

@media (max-width: 750px) {
  header .text p {
    line-height: 25px;
  }
}

header .button {
  background: darkblue;
  padding: 10px 15px;
  display: inline-block;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: relative;
  text-align: center;
}

header .button:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #ffff00;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: 1s all;
  transition: 1s all;
}

header .button:hover:before {
  position: absolute;
  left: 100%;
  top: 0;
  -webkit-transform: rotate(1800deg);
  transform: rotate(1800deg);
}

header .button a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}
/*# sourceMappingURL=style_header.css.map */